html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* position: relative; */
    margin: 0;
    height: 100%;
    overflow: scroll;
    padding-bottom: 10vh;
}

header {
    background-color: #2F81B7;
    /* background-color: white; */
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'VT323';
}

/* landing page */

#landing-page {
    height: 90vh;
}

#NYUAD-logo {
    width: 70%;
}

#menu {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#menu a{
    color: white;
    text-decoration: none;
}

a:link {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* responsive */
    height: 80%; /* can be changed later depending on footer size */
    /* background-color: yellow; */ /* for testing */
}

.content-left {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */ /* for testing */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hackAD-logo-img {
    width: 500px;
}

#outer-box {
    width: 300px;
    height: 300px;
    background-color: #2F81B7; 
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    z-index: -1;
    text-align: center;
    font-family: 'Comfortaa';
}

#inner-box {
    position: relative;
    top: 50px;
    left: -2px; /* parent border */
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-family: 'Comfortaa';
}

/* archive page */

#archive-page {
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

/* container for past events */
.past-event-sct{
    text-align: center;
}

.past-event-sct h1{
    font-size: 45px;
}

#past-event-heading{
    margin-bottom: 50px;
    padding-top: 5vh;
    /* padding-top: 40px; */
}

/* navigation for past events, including right left button and semester */
.past-event-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 2rem; */
    gap: 15rem;
    padding-bottom: 5vh;
}

.title-container{
    position: absolute; 
    background: none;
}

.title-container h2{
    color: #2C7FB4;
}

/* the right, left buttons */
.past-event-nav img{
    max-height: 1.5rem;
    width: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    cursor: pointer;
    background: none;
}

/* container for the event posters */
.past-event-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.past-event-container div img{
    max-height: 45vh;
    margin: 10px;
    width: auto;
    border-radius: 10px;
    border: 4px black solid;
}

#events-spring2018{
    display: block;
}

#events-fall2018{
    display: none;
}

#events-spring2019{
    display: none;
}

#events-fall2019{
    display: none;
}

#events-spring2020{
    display: none;
}

#events-fall2020{
    display: none;
}

#events-spring2021{
    display: none;
}

#events-fall2021{
    display: none;
}

#events-spring2022{
    display: none;
}

/* container for mission statement */
.mission-sct{
    width: 100vw;
    height: 45vh;
    background-color: #2C7FB4;
    text-align: center;
    height: fit-content;
    padding-bottom: 50px;
}

.mission-sct h1{
    padding-top: 5vh;
    font-size: 45px;
    padding-bottom: 5vh;
}

.mission-sct-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 70vw;
    height: fit-content;
    justify-content: space-around;
}

.mission-sct p{
    width: 18vw;
}

/* container for eboard section */
.eboard-sct{
    top: inherit;
    width: 100vw;
    height: fit-content;
    background-color: black;
    text-align: center;
    padding-bottom: 13vh;
}

.eboard-sct h1{
    padding-top: 5vh;
    font-size: 45px;
    color: white;
}

/* will hold eboard images */
#member-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: auto;
    gap: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
}

#member-info div{
    width: 20vh;
    height: 20vh;
    top: 0;
    left: 0;
    margin: 25px;
    background-color: white;
    border-radius: 20vh;
}

.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 4px solid black;
    width: 100%;
    height: 8vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 70px;
    padding-left: 5rem;
}

.footer-container * {
    background: none;
}

.footer-container img{
    max-height: 30px;
}
